@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  /* Colores primarios */
  --color-primary: #3aafa9;
  --color-primary-light: #86d6d1;
  --color-primary-dark: #047b77;

  /* Colores secundarios */
  --color-secondary: #f9b208;
  --color-secondary-light: #ffe358;
  --color-secondary-dark: #c98406;

  /* Colores de fondo */
  --color-background: #f5f5f5;
  --color-background-alt: #e5e5e5;

  /* Colores de texto */
  --color-text: #333;
  --color-text-light: #666;
  --color-text-muted: #999;

  /* Colores de botones */
  --color-button: var(--color-primary);
  --color-button-hover: var(--color-primary-dark);
  --color-button-disabled: #d1d1d1;
  --color-button-text: #fff;

  /* Colores de enlaces */
  --color-link: var(--color-primary-dark);
  --color-link-hover: var(--color-secondary-dark);
}

/* Estilos globales */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

button {
  background-color: var(--color-button);
  border: none;
  border-radius: 4px;
  color: var(--color-button-text);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-button-hover);
}

button:disabled {
  background-color: var(--color-button-disabled);
  cursor: wait
}